.faixadamenu{
    background-color: #E99312;
    color:#fff;
    font-weight: bold;
}

.temapython{
    background-color:#4054B2;
    color:#fff;
}
.temapython:hover{
    background-color: #E99312;
    transition: 1s;
}

#cursos{
    background-color: #4054B2;
    color: #fff;
}

#footer{
    background-color: #c27400;
    color: #fff;
}